body{
    background-color: #ADC0D0;
}

nav#main {
    background-color: #4085bf;
}
nav#main li {
    float: left;
    margin-left: 10px;
}
nav#main a {
    display: block;
    padding: 10px;
    padding: 12px 14px;
    border: 1px solid #4085bf;
    font-weight: bold;
    text-transform: uppercase;
    color: #152533;
}
nav#main a:hover {
    background-color: #2d5d86;
    color: whitesmoke;
    border: 1px solid #2d5d86;
}
nav#main a:link {
    text-decoration-line: none;
}
h1 {
    text-align: center;
    color: #152533;
    font-weight: bold;
    text-transform: uppercase;
}
form {
    text-align: center;
    color: #152533;
    font-weight: bold;
}